<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="_layout">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Exams</title>
</head>

<body>
    <div layout:fragment="content">
        <main>
            <section class="py-5 text-center container">
                <div class="row py-lg-3">
                    <div class="col-lg-6 col-md-8 mx-auto">
                        <h1 class="fw-light display-1">Exams</h1>
                        <p>e-Learning: Open for Knowledge Sharing</p>
                    </div>
                </div>
            </section>
            <div class="album py-5 bg-light">
                <div class="container">
                    <div class="card">
                        <div class="card-body text-center container">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th>NAME</th>
                                            <th>TIME</th>
                                            <th>TOTAL QUESTION</th>
                                            <th>START</th>
                                            <th>END</th>
                                            <th>ACTION</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!--looping data-->
                                        <tr th:each="ujian, iterStat : ${exam}">
                                            <th scope="row" th:text="${iterStat.count}"></th>
                                            <td th:text="${ujian.name}"></td>
                                            <td th:text="${ujian.time}"></td>
                                            <td th:text="${ujian.total_question}"></td>
                                            <td th:text="${ujian.start}"></td>
                                            <td th:text="${ujian.end}"></td>
                                            <td>
                                                <a th:href="@{'/viewExam/'+${ujian.id}}"
                                                    class="btn btn-success btn-sm">View</a>
                                                <a href="#" class="btn btn-warning btn-sm">Edit</a>
                                                <a href="#" class="btn btn-danger btn-sm"
                                                    onclick="return confirm('Yakin mau hapus data?')">Delete</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>

</html>