<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Halaman Mahasiswa</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">UTS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/mahasiswa">Mahasiswa</a>
                </li>
                <!--                <li class="nav-item">
                    <a class="nav-link" href="/detail">Kuliah</a>
                </li>-->
            </ul>
        </div>
    </div>
</nav>

<body>
    <div class="container mt-3">
        <h1 class="center">Daftar Mahasiswa</h1>
        <div class="table-responsive">
            <table class="table table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th>NAMA</th>
                        <th>NIM</th>
                        <th>ALAMAT</th>
                        <th>AKSI</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>NAMA KALIAN</td>
                        <td>20217812102</td>
                        <td>YOGYAKARTA</td>
                        <td><a href="/detail" class="btn btn-success btn-sm">View</a>
                            <a href="#" class="btn btn-warning btn-sm">Edit</a>
                            <a href="#" class="btn btn-danger btn-sm"
                                onclick="return confirm('Yakin mau hapus data?')">Delete</a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>ARKAN KAKA</td>
                        <td>20217812102</td>
                        <td>SURABAYA</td>
                        <td><a href="/detail" class="btn btn-success btn-sm">View</a>
                            <a href="#" class="btn btn-warning btn-sm">Edit</a>
                            <a href="#" class="btn btn-danger btn-sm"
                                onclick="return confirm('Yakin mau hapus data?')">Delete</a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>FIGO DENIS</td>
                        <td>20217812007</td>
                        <td>SOLO</td>
                        <td><a href="/detail" class="btn btn-success btn-sm">View</a>
                            <a href="#" class="btn btn-warning btn-sm">Edit</a>
                            <a href="#" class="btn btn-danger btn-sm"
                                onclick="return confirm('Yakin mau hapus data?')">Delete</a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>PRATAMA ARHAN</td>
                        <td>20217812012</td>
                        <td>SEMARANG</td>
                        <td><a href="/detail" class="btn btn-success btn-sm">View</a>
                            <a href="#" class="btn btn-warning btn-sm">Edit</a>
                            <a href="#" class="btn btn-danger btn-sm"
                                onclick="return confirm('Yakin mau hapus data?')">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>